<h2  class="fw-bold bg-dark text-white border border-info">Kiralamalar</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Marka</th>
            <th>Müşteri Adı</th>
            <th>Kiralama Tarihi</th>
            <th>Teslim Tarihi</th>
        </tr>   
    </thead>

    <tr *ngFor="let rentalDto of rentalDtos" >
        <td>{{rentalDto.rentalId}}</td>
        <td>{{rentalDto.brandName}}</td>
        <td>{{rentalDto.customerName}}</td>
        <td>{{rentalDto.rentDate}}</td>
        <td>{{rentalDto.returnDate}}</td>
    </tr>
</table>